<div class="container p-5 bg-black text-white">
    <div class="row">
        <div class="col-12 text-center pb-5 textSize">Puedes escribirme a mi correo o por instagram (links en Trabajo) y hacer tu pedido!<br>O resolver las dudas que puedas tener :)</div>
    </div>
    <div class="row">
        <div class="col-3 border text-center pb-3" *ngFor="let product of productsArray">
            <img class="size p-3" [src]="product.img" alt="">
            <p>{{product.nombre}}</p>
            <p>{{product.precio}}€</p>
            <button (click)="addToCart(product)" class="invert"><img src="assets/icons8-cart-24.png"></button>
        </div>
    </div>
</div>