<div class="container bg-black text-white pt-5">
    <div class="row justify-content-center align-items-center p-5">
        <div class="col-5">
            <img class="size" src="assets/Imágenes/IMG-20230607-WA0002.jpg" alt="">
        </div>
        <div class="col-7 fs-4">Designer, Illustrator and concept artist who is learning everyday new things about this
            infinite world. Videogames, animation, comics, music, etc you name it. I am a geek, when I love something I
            go all the way!</div>
    </div>
</div>