<div class="container bg-black text-white p-5 font">
    <div class="row justify-content-center">
        <div class="col-6 pt-5 pe-5 border-end">
            <p>Si quieres ponerte en contacto conmigo para trabajar juntos, puedes escribirme a mi mail o por mis
                redes sociales!</p><br>
            <a [cdkCopyToClipboard]="'andriu_100_@hotmail.com'" class="hand ig"><img src="assets/icons8-correo-48.png"
                    alt=""> andriu_100_@hotmail.com </a>
            <p>Clica para copiar!<br>
            </p><br>
            <a href="https://www.instagram.com/andytin__/" target="_blank" class="ig"><img
                    src="assets/icons8-instagram-50.png"> andytin__ </a>
            <p>Concept Art e Ilustración<br>
            </p><br>
            <a href="https://www.instagram.com/andytintattoo/" target="_blank" class="ig"><img
                    src="assets/icons8-instagram-50.png"> andytintattoo</a>
            <p>Tattoo<br>
            </p>
        </div>
        <div class="col-6 pt-5 ps-5">
            <form [formGroup]="presuForm">
                <p>Si no, elige qué necesitas, rellena los campos y me pondré en contacto contigo!</p>
                <br>
                <p>Trabajo<br><select formControlName="trabajo" [ngModel]="opcion">
                        <option value="">Selecciona</option>
                        <option *ngFor="let trabajo of trabajos">{{trabajo}}</option>
                    </select>
                    <span *ngIf="camposInvalidos.trabajo" class="error-message ps-2">Elige uno!</span>
                <p>Nombre<br><input type="text" formControlName="nombre" maxlength="50">
                    <span *ngIf="camposInvalidos.nombre" class="error-message ps-2">No puede ser tan corto!</span></p>
                <p>Mail<br><input type="text" formControlName="mail" maxlength="50">
                    <span *ngIf="camposInvalidos.mail" class="error-message ps-2">Formato incorrecto!</span></p>
                <p>Teléfono<br><input type="number" minlength="9" maxlength="9" formControlName="tlf">
                    <span *ngIf="camposInvalidos.tlf" class="error-message ps-2">Son 9 dígitos!</span></p>
                <p>Descripción<br><textarea type="text" formControlName="descripcion" rows="5" cols="50"
                    maxlength="1000"></textarea>
                    <span *ngIf="camposInvalidos.descripcion" class="error-message">Escribe un poco más...</span></p>
                <button class="col-3 boton" type="button" (click)="enviar()">Enviar!</button>
            </form>
        </div>
    </div>
</div>